@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.react-calendar {
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

.react-calendartile {
  border-radius: 8px;
}

.react-calendartile--active {
  background: #007bff; 
  color: white;
}

.react-calendar__tile--hasActive {
  background: #e7f0ff; 
}

.react-calendarmonth-viewdays__day--weekend {
  color: #007bff; 
}

.react-calendarmonth-viewdays__day {
  color: #333; 
}

.react-calendar__navigation button {
  background: #007bff; 
  color: white;
  border-radius: 8px;
}

.react-calendar__navigation button:disabled {
  background: #ddd; 
  color: #888;
}